aiofiles==23.2.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
aiohttp==3.11.16 ; python_version >= "3.10" and python_full_version < "3.12.4"
aiolimiter==1.2.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
aiosignal==1.3.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
annotated-types==0.7.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
annoy==1.17.3 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
anthropic==0.49.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
anyio==4.9.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
arrow==1.3.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
asttokens==3.0.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
async-timeout==4.0.3 ; python_version == "3.10"
attrs==25.3.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
beautifulsoup4==4.12.3 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
cachetools==5.5.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
certifi==2025.1.31 ; python_version >= "3.10" and python_full_version < "3.12.4"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
click==8.1.8 ; python_version >= "3.10" and python_full_version < "3.12.4"
cohere==5.14.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
colorama==0.4.6 ; python_version >= "3.10" and python_full_version < "3.12.4"
coloredlogs==15.0.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
contourpy==1.3.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
cycler==0.12.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_full_version < "3.12.4"
decorator==5.2.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
defusedxml==0.7.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
deprecated==1.2.18 ; python_version >= "3.10" and python_full_version < "3.12.4"
diff-match-patch==20230430 ; python_version >= "3.10" and python_full_version < "3.12.4"
distro==1.9.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
dnspython==2.7.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
exceptiongroup==1.2.2 ; python_version == "3.10"
executing==2.2.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
faiss-cpu==1.8.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
faker==25.9.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
fastapi==0.115.12 ; python_version >= "3.10" and python_full_version < "3.12.4"
fastavro==1.10.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
fastembed==0.6.0 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
ffmpy==0.5.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
filelock==3.18.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
flatbuffers==25.2.10 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
fonttools==4.57.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
fqdn==1.5.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
frozenlist==1.5.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
fsspec==2025.3.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
google-ai-generativelanguage==0.6.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
google-api-core==2.24.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
google-api-python-client==2.166.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
google-auth-httplib2==0.2.0 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
google-auth==2.38.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
google-generativeai==0.5.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
googleapis-common-protos==1.69.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
gradio-client==1.3.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
gradio==4.44.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
greenlet==3.1.1 ; python_version >= "3.10" and python_full_version < "3.12.4" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
griffe==0.36.9 ; python_version >= "3.10" and python_full_version < "3.12.4"
grpcio-status==1.62.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
grpcio==1.71.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
guardrails-ai==0.6.5 ; python_version >= "3.10" and python_full_version < "3.12.4"
guardrails-api-client==0.4.0a1 ; python_version >= "3.10" and python_full_version < "3.12.4"
guardrails-hub-types==0.0.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
h11==0.14.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
httpcore==1.0.7 ; python_version >= "3.10" and python_full_version < "3.12.4"
httplib2==0.22.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
httpx-sse==0.4.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
httpx==0.28.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
huggingface-hub==0.30.1 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
humanfriendly==10.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
idna==3.10 ; python_version >= "3.10" and python_full_version < "3.12.4"
importlib-metadata==8.4.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
importlib-resources==6.5.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
ipython==8.24.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
isoduration==20.11.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
jedi==0.19.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
jinja2==3.1.6 ; python_version >= "3.10" and python_full_version < "3.12.4"
jiter==0.9.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
jsonpatch==1.33 ; python_version >= "3.10" and python_full_version < "3.12.4"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
jsonref==1.1.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
jsonschema==4.23.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_full_version < "3.12.4"
langchain-anthropic==0.1.13 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-cohere==0.1.5 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-community==0.0.38 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-core==0.1.53 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-experimental==0.0.58 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-google-genai==1.0.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
langchain-openai==0.1.7 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-text-splitters==0.0.2 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain-voyageai==0.1.1 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchain==0.1.20 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langchainhub==0.1.21 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langgraph==0.0.51 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
langsmith==0.1.147 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
lark==1.1.9 ; python_version >= "3.10" and python_full_version < "3.12.4"
litellm==1.65.4.post1 ; python_version >= "3.10" and python_full_version < "3.12.4"
loguru==0.7.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
lxml==4.9.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform != "emscripten"
markupsafe==2.1.5 ; python_version >= "3.10" and python_full_version < "3.12.4"
marshmallow==3.26.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_full_version < "3.12.4"
matplotlib==3.10.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
mdurl==0.1.2 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform != "emscripten"
mmh3==5.1.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
motor==3.4.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
mpmath==1.3.0 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
multidict==6.3.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
nemoguardrails==0.9.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
numpy==1.26.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
onnxruntime==1.21.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
openai==1.70.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-api==1.27.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-exporter-otlp-proto-common==1.27.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-exporter-otlp-proto-grpc==1.27.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-exporter-otlp-proto-http==1.27.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-proto==1.27.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-sdk==1.27.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
opentelemetry-semantic-conventions==0.48b0 ; python_version >= "3.10" and python_full_version < "3.12.4"
orjson==3.10.16 ; python_version >= "3.10" and python_full_version < "3.12.4" and platform_python_implementation != "PyPy"
packaging==23.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
pandas==2.2.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
parso==0.8.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
pexpect==4.9.0 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==10.4.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
pip==25.0.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
prompt-toolkit==3.0.50 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
propcache==0.3.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
proto-plus==1.26.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
protobuf==4.25.6 ; python_version >= "3.10" and python_full_version < "3.12.4"
ptyprocess==0.7.0 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
py-rust-stemmers==0.1.5 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
pyasn1-modules==0.4.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
pyasn1==0.6.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
pydantic-core==2.27.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
pydantic==2.10.6 ; python_version >= "3.10" and python_full_version < "3.12.4"
pydash==7.0.7 ; python_version >= "3.10" and python_full_version < "3.12.4"
pydub==0.25.1 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
pygments==2.19.1 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform != "emscripten"
pyjwt==2.10.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
pymongo==4.7.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
pyparsing==3.2.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
pyreadline3==3.5.4 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform == "win32"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_full_version < "3.12.4"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
python-multipart==0.0.20 ; python_version >= "3.10" and python_full_version < "3.12.4"
pytz==2025.2 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
pyyaml==6.0.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
referencing==0.36.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
regex==2024.11.6 ; python_version >= "3.10" and python_full_version < "3.12.4"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
requests==2.32.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
rich==13.9.4 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4" and sys_platform != "emscripten"
rpds-py==0.24.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
rsa==4.9 ; python_version >= "3.10" and python_full_version < "3.12.4"
rstr==3.2.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
ruff==0.11.4 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform != "emscripten"
semantic-version==2.10.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
semver==3.0.4 ; python_version >= "3.10" and python_full_version < "3.12.4"
setuptools==78.1.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
shellingham==1.5.4 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform != "emscripten"
simpleeval==1.0.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
six==1.17.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
sniffio==1.3.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
soupsieve==2.6 ; python_version >= "3.10" and python_full_version < "3.12.4"
sqlalchemy==2.0.40 ; python_version >= "3.10" and python_full_version < "3.12.4"
stack-data==0.6.3 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
starlette==0.46.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
sympy==1.13.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
tenacity==8.5.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
tiktoken==0.7.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
tokenizers==0.21.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
tomlkit==0.12.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
tqdm==4.67.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
traitlets==5.14.3 ; python_version >= "3.10" and python_full_version < "3.12.4"
typer==0.15.2 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform != "emscripten"
types-python-dateutil==2.9.0.20241206 ; python_version >= "3.10" and python_full_version < "3.12.4"
types-requests==2.32.0.20250328 ; python_version >= "3.10" and python_full_version < "3.12.4"
typing-extensions==4.13.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
typing-inspect==0.9.0 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
tzdata==2025.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
uri-template==1.3.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
uritemplate==4.1.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
urllib3==2.0.7 ; python_version >= "3.10" and python_full_version < "3.12.4"
uuid6==2024.7.10 ; python_version >= "3.10" and python_full_version < "3.12.4"
uvicorn==0.30.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
voyageai==0.3.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
watchdog==6.0.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
wcwidth==0.2.13 ; python_full_version >= "3.10.0" and python_full_version < "3.12.4"
webcolors==24.11.1 ; python_version >= "3.10" and python_full_version < "3.12.4"
websockets==12.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
win32-setctime==1.2.0 ; python_version >= "3.10" and python_full_version < "3.12.4" and sys_platform == "win32"
wrapt==1.17.2 ; python_version >= "3.10" and python_full_version < "3.12.4"
yarl==1.19.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
zipp==3.21.0 ; python_version >= "3.10" and python_full_version < "3.12.4"
